<div class="results-block col-6 pl-0">
  <%= render "layouts/messages" %>
</div>

<% if @friends %>
  <% @friends.each do |friend| %>
    <div class="card card-header col-8 results-block mb-2">
      <strong class="ml-3">Name: </strong><%= friend.full_name %>
      <strong class="ml-3">Email: </strong><%= friend.email %>
      <%= link_to "View Profile", user_path(friend.id), class: "btn btn-sm btn-success submit-button float-right" %>
      <% if current_user.not_friends_with?(friend.id) %>
        <%= link_to "follow", friendships_path(friend: friend), class: "btn btn-sm btn-success submit-button float-right", method: :post  %>
      <% else %>
        <span class="following-span badge badge-success float-right mr-3">Following</span>
      <% end %>
    </div>
  <% end %>
<% end %>

