<h1>Profile Details</h1>


<div class="card card-header col-8 results-block mb-2">
  <strong>Name: </strong><%= @user.full_name %>
  <strong>Email: </strong><%= @user.email %>
  <% if current_user.not_friends_with?(@user.id) %>
    <%= link_to "follow", friendships_path(friend: @user), class: "btn btn-sm btn-success submit-button float-right", method: :post  %>
  <% else %>
    <%= link_to "Stop following", friendship_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-success submit-button-2 btn-sm float-right" %>
    <span class="following-span badge badge-success float-right mr-3">Following</span>
  <% end %>
</div>

<% if !@tracked_stocks.empty? %>
  <h3 class="mt-5"><%= @user.full_name %>'s tracked stocks</h3>
  <%= render 'stocks/list' %>
<% else %>
  <h3 class="mt-5"><%= @user.full_name %> is not tracking any stocks</h3>
<% end %>

